.homeContainer{
    height: 94vh;
    width: 100vw;
    position: fixed;
    padding: 20px;
    left: 0;
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 1000px) {
    .homeContainer {
      flex-wrap: wrap !important;
    }
    .homeClientContainer{
        width: 50vw !important;
    }
  }

.homeCalendarContainer{
    padding: 20px;
    height: 425px;
    width: 350px;
    margin-bottom: 25px;
    background-color: var(--mainMediumBlue);
}

/* *********************** */
/*  Appointment Container  */
/* *********************** */

.homeAppointmentContainer{
    height: 82vh;
    width: 35vw;
    min-width: 350px;
    padding: 5px;
    overflow: auto;
}

.homeUpcomingEventsContainer {
    height: 245px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainMediumBlue);
}
.timelineDivs{
    padding: 3px 10px;
    border-bottom: 1px dashed lightgrey;
    transition: 0.5s ease;
}
.timelineDivs:hover{
    padding: 4px 10px;
    transition: 0.5s ease;
    background-color: var(--mainLightGrey);
}

/* ************************** */
/*    Client List Container   */
/* ************************** */

.homeClientContainer {
    background-color: var(--mainMediumBlue);
    height: 82vh;
    width: 24vw;
    min-width: 250px;
    padding: 5px 10px;
}

.clientListContainer{
    height: 57%;
    overflow: scroll;
    background: var(--mainLightGrey);
    padding: 4px 3px;
    border-radius: 3px;
}

.homeClientCard{
    margin: 3px 0px;
    transition: 0.5s ease;
}

.homeClientCard:hover{
    background-color: var(--mainMediumBlue);
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.5s ease;
}

.homeClientContainer .ant-input-group-wrapper{
    margin-bottom: 5px;
}
.homeClientContainer .ant-page-header-heading {
    justify-content: center;
    background-color: white;
    border-radius: 3px;
}